@import 'spinner';
@import 'theme';
@import 'breakpoints';

mat-table.mat-table {
	padding: 0 16px;
	@include breakpointXSmall() {
		padding: 0px 4px;
	}
}

mat-header-row.mat-header-row {
	@include makeHiddenSmallAndDown();
}

mat-header-row.mat-header-row,
mat-row.mat-row {
	padding: 0 24px;
	@include breakpointXSmall() {
		padding: 0px;
	}
	@include breakpointSmallToMedium() {
		padding: 0 8px;
	}
}

mat-row.mat-row {
	padding-top: 4px;
	padding-bottom: 4px;
	&.selected {
		background-color: fade-out($primary-color, 0.9);
	}
}

mat-header-cell.mat-header-cell,
mat-cell.mat-cell {
	padding-left: 4px;
	padding-right: 4px;
}

.narrow-column {
	flex: 4;
}
.wide-column {
	flex: 6;
}

.highlight {
	background: $light-grey-background !important;
}

@mixin mainColumn() {
	&.mat-cell {
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}
	> div + div {
		margin-top: 4px;
	}
}

@mixin primaryTitle() {
	@include breakpointXSmall() {
		//color: $primary-light-color;
		font-size: 120%;
	}
}

@mixin secondaryTitle() {
	font-size: 90%;
	font-weight: 300;
	display: flex;
	align-items: center;
}

@mixin tertiaryTitle() {
	font-size: 80%;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.54);
	display: flex;
	align-items: center;
}

mat-table {
	mat-row:hover {
		background: #f5f5f5;
	}
}

.no-data-table {
	width: 100%;
	font-size: 120%;
	font-weight: 500;
	text-align: center;
	padding: 16px;
}
