$light-grey-background: #f2f2f2;
$dark-grey-background: #f9f9f9;

$light-grey: #d7d7d7;
$dark-grey: #555555;

$border-style: 1px solid $light-grey;

$footer-height: 25px;

/* ********************************************************************************* */
// Variables from @angular/material toolbar
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
