// Mostly sizes of things used across the app

$footer-height: 25px;

/* ********************************************************************************* */
// Variables from @angular/material toolbar
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;

$list-component-icon-size: 16px;
