@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import 'theme';

html,
body {
	height: 100%;
	margin: 0px;
	min-width: 360px;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
