<ng-template [ngIf]="!!type">
	<ng-container [ngSwitch]="type">
		<mat-icon class="feature" *ngSwitchCase="'feature'" [title]="backlogItemType[type!]">menu_book</mat-icon>
		<mat-icon class="bug" *ngSwitchCase="'bug'" [title]="backlogItemType[type!]">bug_report</mat-icon>
		<mat-icon class="user-story" *ngSwitchCase="'userStory'" [title]="backlogItemType[type!]">card_travel</mat-icon>
		<mat-icon class="task" *ngSwitchCase="'task'" [title]="backlogItemType[type!]">assignment</mat-icon>
		<span *ngSwitchDefault>{{ type }}</span>
	</ng-container>
</ng-template>
