# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs
.idea

node_modules

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
/**/dist
wwwrooot/

/packages
*.metaproj
*.metaproj.tmp

bin
obj
deploy

*.env

docker_start.sh