<button mat-button [matMenuTriggerFor]="filterMenu" title="Filter by tags">
	<span [innerText]="buttonText"></span>
	<mat-icon color="primary">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #filterMenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<mat-form-field class="search-form-field">
		<mat-placeholder>Filter tags...</mat-placeholder>
		<input matInput type="search" name="tagSearch" [formControl]="searchCtrl" [autofocus]="true" (click)="$event.stopPropagation()">
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>
	<mat-selection-list dense class="selection-list">
		<mat-list-option *ngFor="let option of options" [value]="option" checkboxPosition="before" (click)="$event.stopPropagation()">
			{{ option }}
		</mat-list-option>
	</mat-selection-list>

	<div *ngIf="loading" class="searching">Searching...</div>
	<div *ngIf="!loading && !options?.length" class="no-matches">No matches found</div>

	<div class="action-buttons">
		<span (click)="clear()">Clear</span>
	</div>
</mat-menu>
