<form [formGroup]="formGroup" [class.stretched-filter-bar]="!isDialog" [class.two-column-grid]="isDialog">
	<filter-search formControlName="search"></filter-search>

	<filter-multi-select label="Type" buttonAltText="Backlog item type" [options]="types" formControlName="types"
		[stretchedAndStroked]="isDialog">
		<ng-template let-type>
			<span class="item-text">
				<backlog-item-icon [type]="type.key"></backlog-item-icon>&nbsp;{{ type.value }}
			</span>
		</ng-template>
	</filter-multi-select>

	<filter-multi-select label="State" buttonAltText="Item states" [options]="states" formControlName="states"
		[stretchedAndStroked]="isDialog">
		<ng-template let-state>
			<backlog-item-state [state]="state.key"></backlog-item-state>
		</ng-template>
	</filter-multi-select>

	<filter-single-select label="Assignee" buttonAltText="Assigned to" formControlName="assignedUserId" [stretchedAndStroked]="isDialog"
		[search]="searchByAssignee">
	</filter-single-select>

	<filter-multi-select label="Tags" buttonAltText="Item tags" formControlName="tags" [stretchedAndStroked]="isDialog"
		[search]="searchTagsByName">
	</filter-multi-select>
</form>
