<mat-sidenav-container autosize>
	<mat-sidenav [disableClose]="!isMobile" [class.narrow-menu]="isNarrowMenu">
		<mat-toolbar color="primary">
			<img class="logo" src="/assets/img/logo.png" alt="YABT" />
			<span>YABT</span>
		</mat-toolbar>

		<mat-nav-list>
			<mat-list-item *ngFor="let item of siteMap" [routerLink]="item.mainLink" [class.active]="isMenuButtonHighlighted(item)"
				(click)="collapseMenu()">
				<mat-icon [matTooltipDisabled]="!isNarrowMenu" matTooltipPosition="right" [matTooltip]="item.title">{{ item.icon }}
				</mat-icon>
				<span>{{ item.title }}</span>
			</mat-list-item>
			<mat-divider class="separator"></mat-divider>
			<mat-list-item [routerLink]="['/system']" routerLinkActive="active" (click)="collapseMenu()">
				<mat-icon [matTooltipDisabled]="!isNarrowMenu" matTooltipPosition="right" matTooltip="System">settings</mat-icon>
				<span>System</span>
			</mat-list-item>
			<ng-template [ngIf]="!isMobile">
				<mat-list-item (click)="expandCollapseSideMenu()">
					<mat-icon>{{ isNarrowMenu ? 'arrow_forward' : 'arrow_backward' }}</mat-icon>
				</mat-list-item>
			</ng-template>
			<ng-template [ngIf]="isMobile">
				<mat-list-item routerLink="./system/users/{{ userId }}" (click)="collapseMenu()">
					<mat-icon>person_outline</mat-icon>
					<span>User Profile</span>
				</mat-list-item>
			</ng-template>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<ng-container *ngIf="isMobile; then mobileMenu; else desktopMenu"></ng-container>

		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #desktopMenu>
	<mat-toolbar>
		<button mat-icon-button class="recent-item-button" [matMenuTriggerFor]="recentItemMenu" (menuOpened)="openedRecentItemsMenu()">
			<mat-icon color="primary">history</mat-icon>
		</button>

		<button mat-button class="account-button" [matMenuTriggerFor]="accountMenu">
			<img class="avatar" src="//www.gravatar.com/avatar/00000000000000000000000000000000?r=g&d=mm&s=40" />
			<mat-icon color="primary">keyboard_arrow_down</mat-icon>
		</button>
	</mat-toolbar>
</ng-template>

<ng-template #mobileMenu>
	<mat-toolbar color="primary">
		<button mat-icon-button class="menu-button" (click)="expandMenu()">
			<mat-icon>menu</mat-icon>
		</button>

		<span>{{ mobileTitle }}</span>

		<!-- <button mat-icon-button (click)="openSearchDialog()" (menuOpened)="openedSearchMenu()">
			<mat-icon>search</mat-icon>
		</button> -->
	</mat-toolbar>
</ng-template>

<mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<a mat-menu-item routerLink="./users/{{ userId }}">
		<mat-icon color="accent">person_outline</mat-icon>
		<span>User Profile</span>
	</a>
</mat-menu>

<mat-menu class="recent-menu" #recentItemMenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<button mat-menu-item disabled>
		<span>Recent Items</span>
	</button>
	<button mat-menu-item disabled class="additional-action">No recent items</button>
</mat-menu>
