@import 'breakpoints';
@import '~@angular/material/theming';

$toolbar-background-desktop: white !default;
$sidenav-background: white; //$primary-color !default;
$sidenav-active-background: grey; //$primary-dark-color !default;
$popup-header-height: 36px !default;
$text-major-size: 16px;
$text-minor-size: 12px;

$mat-grey: grey;
$light-primary-text: white;

:host {
	height: 100%;
}

img.avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

mat-sidenav-container.mat-drawer-container {
	height: inherit; // This is the inverse of the breakpoint used in the code see https://github.com/angular/material2/blob/master/src/cdk/layout/breakpoints.ts
	@include breakpointMediumAndUp() {
		mat-sidenav-content.mat-sidenav-content {
			// Sometimes the margin screws up (eg when emulating ipad in chrome and adjust the zoom in the emulation bar)
			// which leaves the gap for the expanded menu, this prevents that from happening
			margin-left: 56px !important;
			background-color: $mat-grey; //map-get($mat-grey, 200);
		}
	}
	mat-sidenav.mat-sidenav {
		background-color: $sidenav-background;
		display: flex;
		flex-direction: column;
		mat-toolbar.mat-toolbar {
			img.logo {
				height: 36px;
				width: 36px;
				margin: -6px;
			}
			span {
				margin-left: 16px;
				margin-right: 32px;
				font-weight: 400;
			}
		}
		&.collapsed {
			mat-toolbar.mat-toolbar,
			mat-list-item.mat-list-item {
				span {
					display: none;
				}
			}
		}
		mat-nav-list.mat-nav-list {
			flex: 1;
			display: flex;
			flex-direction: column;
			mat-list-item.mat-list-item {
				color: $light-primary-text;
				span {
					margin-left: 16px;
					margin-right: 32px;
				}
				&.active {
					background-color: $sidenav-active-background;
				}
			}
			mat-divider.mat-divider.separator {
				flex: 1;
				border: none;
			}
		}
	}
	mat-sidenav-content.mat-sidenav-content {
		mat-toolbar.mat-toolbar {
			position: relative;
			z-index: 2;
			padding-left: 8px;
			padding-right: 8px;
			@include mat-elevation(1);
			@include breakpointSmallAndDown() {
				background-color: $toolbar-background-desktop;
				padding-left: 16px;
				padding-right: 16px;
			}
			@include breakpointMediumAndUp() {
				background-color: $toolbar-background-desktop;
				padding-left: 24px;
				padding-right: 24px;
			}
			span {
				flex: 1;
			}
		}
		.menu-button {
			margin-right: 8px;
		}
		.create-button {
			margin-left: 8px;
			margin-right: 8px;
			line-height: 40px; // Create button (a raised button) defaults to 36px instead of 40 used by the other
			// elements in the toolbar, for some reason that moves the plus icon lower. It's easiest/best to fix by
			// making the same size as the other toolbar elements
			@include breakpointMediumAndUp() {
				margin-left: 32px;
				margin-right: 32px;
			}
			@include breakpointSmallAndDown() {
				padding-left: 8px;
				padding-right: 8px;
				min-width: 40px;
				border-radius: 50%;
				::ng-deep {
					.mat-button-ripple,
					.mat-button-focus-overlay {
						border-radius: 50%;
					}
				}
			}
			span {
				@include makeHiddenSmallAndDown();
			}
		}
		.task-button {
			margin-left: 8px;
			margin-right: 8px;
			mat-chip-list.mat-chip-list {
				position: absolute;
				mat-chip.mat-chip {
					font-size: 10px;
					line-height: 5px;
					padding: 5px;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
		button.account-button {
			::ng-deep {
				span.mat-button-wrapper {
					display: flex;
					align-items: center;
					user-avatar {
						height: 40px;
						width: 40px;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

/*
::ng-deep div.mat-menu-panel {
	.mat-menu-content {
		padding: 0;
	}
	&.task-menu,
	&.recent-menu {
		overflow: visible;
		margin-top: 8px;
		&::before {
			content: ' ';
			position: absolute;
			top: 0px;
			right: 12px;
			border-bottom: 8px solid $popup-header-background;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}
	}
	@include breakpointPhoneTablet() {
		&.create-menu {
			overflow: visible;
			margin-top: 8px;
			&::before {
				content: ' ';
				position: absolute;
				top: 0px;
				left: 12px;
				border-bottom: 8px solid $popup-header-background;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				@include breakpointPhone() {
					right: 12px;
					left: unset;
				}
			}
		}
	}
}

.mat-menu-item {
	font-size: 14px;
	> mat-icon.mat-icon {
		margin-right: 8px;
	}
	&.mat-menu-item-with-chip {
		display: flex;
		align-items: center;
		justify-content: space-between;
		mat-chip.mat-chip {
			line-height: 7px;
			padding: 7px;
			border-radius: 14px;
		}
	}
	&[disabled] {
		color: $popup-header-color;
		background-color: $popup-header-background;
		height: $popup-header-height;
		line-height: $popup-header-height;
		span {
			font-weight: 700;
		}
	}
	&.additional-action {
		color: $primary-color;
		background-color: inherit;
		height: $popup-header-height;
		line-height: $popup-header-height;
		span {
			font-weight: 700;
		}
	}
	&.mat-menu-text {
		.mat-menu-major-text {
			line-height: $text-major-size + 2px;
			font-size: $text-major-size;
			display: flex;
			align-items: center;
			span {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.mat-menu-minor-text {
			line-height: $text-minor-size + 2px;
			font-size: $text-minor-size;
			display: flex;
			align-items: center;
			span {
				overflow: hidden;
				text-overflow: ellipsis;
			}
			mat-icon.mat-icon {
				font-size: $text-minor-size;
				height: $text-minor-size;
				width: $text-minor-size;
				margin-right: $text-minor-size / 2;
				::ng-deep g {
					transform: scale($text-minor-size / 24px);
				}
			}
		}
	}
}

::ng-deep .mat-tooltip {
	background: $primary-color-hover;
	font-size: 90%;
	padding: 10px 0;
}
*/
