@import 'breakpoints';
@import 'theme';
@import 'list-components';

.header {
	display: flex;
	background-color: $white-background;

	user-filters {
		flex-grow: 3;
		padding-left: 8px;
	}

	.action-buttons {
		flex: auto;
		text-align: end;
		align-self: center;
		padding: 16px;
	}
}

.mat-column-name {
	@include mainColumn();

	flex-grow: 4;

	.title-block {
		@include primaryTitle();
	}

	.embedded-dates-block {
		@include secondaryTitle();
		@include makeHiddenMediumAndUp();
	}
}
.mat-column-created {
	flex-grow: 1;
	@include makeHiddenSmallAndDown();
}
