<h2 mat-dialog-title>Add link</h2>
<mat-dialog-content [formGroup]="form" class="flex-column">
	<div class="flex-row">
		<mat-form-field>
			<mat-select formControlName="relationType">
				<mat-option *ngFor="let link of linkTypes" [value]="link.key">{{ link.value }}</mat-option>
			</mat-select>
			<mat-placeholder>Link type</mat-placeholder>
			<mat-error>
				<error-messages formControlName="relationType"></error-messages>
			</mat-error>
		</mat-form-field>
	</div>
	<div class="flex-row">
		<mat-form-field>
			<input matInput formControlName="backlogItemTitle" placeholder="Backlog item to link" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="backlogItemSelected($event)">
				<mat-option *ngFor="let t of backlogItems" [value]="t.id">
					<backlog-item-icon [type]="t.type"></backlog-item-icon>
					{{t.title}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Cancel</button>
	<button mat-raised-button color="primary" (click)="addLink()" [disabled]="form.invalid">ADD</button>
</mat-dialog-actions>
