@import 'breakpoints';
@import 'list-components';

h2,
h3.mat-h3 {
	margin: 0 0 0 16px;
	color: #737373;
}
.mat-column-name {
	@include mainColumn();

	flex-grow: 4;

	.title-block {
		@include primaryTitle();
	}

	.embedded-type-block {
		@include secondaryTitle();
		@include makeHiddenMediumAndUp();
	}
}
.mat-column-created {
	flex-grow: 1;
	@include makeHiddenSmallAndDown();
}
