@import 'variables';
@import 'theme';

button.mat-button {
	line-height: $mat-toolbar-height-mobile-portrait;
}

.selected {
	background-color: $primary-light-color;
	border: none;

	mat-icon.mat-icon {
		color: white;
	}

	&:hover {
		color: unset;
		background-color: unset;
	}
}

span.lighter-font {
	font-weight: 400;
}
