@import 'filter-button';
@import 'theme';

button.narrow-underscored-button.mat-button {
	line-height: 36px;
	border-radius: unset;
	border-bottom: thin rgba(0, 0, 0, 0.2) solid;
}

.search-form-field {
	margin: 8px 16px 0;
}

mat-nav-list.mat-nav-list {
	max-height: 350px;
	overflow-y: auto;
}

.selected {
	background-color: $primary-lighter-color;
	border: none;

	&:hover {
		color: unset;
		background-color: unset;
	}
}

.no-matches {
	font-style: italic;
	background-color: #e5e5e5;
	padding: 10px;
}
.searching {
	font-style: italic;
	padding: 10px;
}
