<button mat-button [matMenuTriggerFor]="filterMenu" [title]="buttonAltText">
	<span [innerText]="buttonText" [class.lighter-font]="buttonText == label"></span>
	<mat-icon color="primary">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #filterMenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<button *ngIf="firstUndefinedOption" mat-menu-item (click)="setType(null)">{{firstUndefinedOption}}</button>
	<button *ngFor="let option of options" mat-menu-item (click)="setType(option.key)" [class.selected]="isSelected(option.key)">
		<ng-container *ngIf="templateRef" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit:option.key}">
		</ng-container>
		<ng-template [ngIf]="!templateRef">{{ option.value }}</ng-template>
	</button>
</mat-menu>
