<button mat-button [matMenuTriggerFor]="filterMenu" [title]="buttonAltText" [class.mat-stroked-button]="stretchedAndStroked">
	<span [innerText]="buttonText" [class.lighter-font]="buttonText == label"></span>
	<mat-icon color="primary">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #filterMenu="matMenu" [overlapTrigger]="false" xPosition="before">
	<mat-selection-list dense>
		<mat-list-option *ngFor="let option of options" [value]="option.key" checkboxPosition="before" (click)="$event.stopPropagation()">
			<ng-container *ngIf="templateRef" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit:option}">
			</ng-container>
			<ng-template [ngIf]="!templateRef">{{ option.value }}</ng-template>
		</mat-list-option>
	</mat-selection-list>
	<div class="action-buttons">
		<span (click)="clear()">Clear</span>
	</div>
</mat-menu>
