ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin-right: 1px;
		display: inline-block;
		padding: 0;
		outline: none;
		list-style: none;

		.tag-container {
			outline: none;
			padding-top: 2px;
			padding-bottom: 2px;
			border: 1px solid;
			border-color: rgba(255, 255, 255, 1);
			user-select: none;

			.tag-box {
				cursor: default;
				padding: 2px 6px;
				font-size: 12px;
				color: rgba(0, 0, 0, 0.55);
				background-color: rgba(239, 246, 252, 1);
			}
		}
	}
}
