@import 'breakpoints';
@import 'theme';

form.filter {
	margin: 0 16px;
	@include breakpointXSmall() {
		margin: 0px;
	}
	border-bottom: thin solid;
	border-bottom-color: rgba(200, 200, 200, 1);
	display: flex;

	backlog-filters {
		margin: 0 8px;
		flex: 1 1 auto;
	}
	.divider {
		flex: 0 1 auto;
		align-self: center;
		width: 1px;
		min-width: 1px;
		height: 24px;
		background-color: rgba(200, 200, 200, 1);
		margin: 0 8px 0 8px;
	}
}

mat-icon {
	align-self: center;
	padding-right: 8px;
	&.filter-accent-icon {
		color: $accent-dark-color;
	}
}
.hide-on-mobile {
	@include makeHiddenSmallAndDown();
}

button.clear-button {
	@include makeHiddenSmallAndDown();
	min-width: auto;
	mat-icon {
		color: $primary-light-color;
	}
}
