@import 'variables';
@import 'breakpoints';

div.main-outlet {
	height: calc(100% - #{$footer-height} - #{$mat-toolbar-height-desktop});
	background-color: inherit;

	@include breakpointXSmall() {
		height: calc(100% - #{$footer-height} - #{$mat-toolbar-height-mobile-portrait});
	}
}
