<div class="filter">

	<filter-single-select label="All" buttonAltText="Quick filter" [options]="modes" firstUndefinedOption="All"
		[control]="formGroup.controls.currentUserRelation"></filter-single-select>

	<div class="divider"></div>

	<filter-search [control]="formGroup.controls.search"></filter-search>

	<filter-multi-select label="Type" buttonAltText="Backlog item type" [options]="types" [control]="formGroup.controls.types"
		class="hide-on-mobile">
		<ng-template let-type>
			<span class="item-text">
				<backlog-item-icon [type]="type.key"></backlog-item-icon>&nbsp;{{ type.value }}
			</span>
		</ng-template>
	</filter-multi-select>
	<filter-multi-select label="State" buttonAltText="Item states" [options]="states" [control]="formGroup.controls.states"
		class="hide-on-mobile">
		<ng-template let-state>
			<backlog-item-state [state]="state.key"></backlog-item-state>
		</ng-template>
	</filter-multi-select>
	<filter-tag-select [control]="formGroup.controls.tags"></filter-tag-select>


	<button mat-button title="Clear filters" class="clear-button" (click)="clearFilters()" class="hide-on-mobile">
		<mat-icon color="primary">clear</mat-icon>
	</button>

</div>
