@import 'breakpoints';
@import 'variables';
@import 'theme';

:host {
	background-color: white;
}

form.filter {
	margin: 0 16px;
	line-height: $mat-toolbar-height-mobile-portrait;
	border-bottom: thin solid;
	border-bottom-color: rgba(200, 200, 200, 1);
	display: flex;
	flex: 1 1 100%;
}
.divider {
	flex: 0 1 auto;
	align-self: center;
	width: 1px;
	min-width: 1px;
	height: 24px;
	background-color: rgba(200, 200, 200, 1);
	margin: 0 8px 0 8px;
}
span.options-filter {
	line-height: $mat-toolbar-height-mobile-portrait;
	//	display: inline-block;
	//	min-width: 120px !important;
}
mat-icon.filter-icon {
	color: $primary-light-color;
	align-self: center;
	padding-right: 8px;
}
mat-form-field.search {
	padding-top: 4px;
	flex: 1 1 auto;
	::ng-deep {
		div.mat-form-field-wrapper {
			padding-bottom: 0px;
			div.mat-form-field-infix {
				width: unset;
			}
			div.mat-form-field-underline {
				display: none;
			}
		}
	}
}
button.clear-button {
	min-width: auto;
	mat-icon {
		color: $primary-light-color;
	}
}
