<form [formGroup]="formGroup" class="filter">

	<filter-single-select label="All" buttonAltText="Quick filter" [options]="modes" firstUndefinedOption="All"
		[control]="formGroup.controls.currentUserRelation"></filter-single-select>

	<div class="divider"></div>

	<mat-icon class="filter-icon">filter_alt</mat-icon>
	<mat-form-field class="search">
		<input matInput formControlName="search" placeholder="Filter by keyword">
	</mat-form-field>

	<filter-single-select label="Type" buttonAltText="Backlog item type" [options]="types" firstUndefinedOption="Any"
		[control]="formGroup.controls.type"></filter-single-select>

	<button mat-button title="Clear filters" class="clear-button" (click)="clearFilters()">
		<mat-icon color="primary">clear</mat-icon>
	</button>

</form>
