@import 'breakpoints';
@import 'variables';
@import 'theme';

:host {
	background-color: white;
}

div.filter {
	margin: 0 16px;
	line-height: $mat-toolbar-height-mobile-portrait;
	border-bottom: thin solid;
	border-bottom-color: rgba(200, 200, 200, 1);
	display: flex;
	flex: 1 1 100%;

	filter-search {
		flex: 1 1 auto;
	}
}
.divider {
	flex: 0 1 auto;
	align-self: center;
	width: 1px;
	min-width: 1px;
	height: 24px;
	background-color: rgba(200, 200, 200, 1);
	margin: 0 8px 0 8px;
}
span.options-filter {
	line-height: $mat-toolbar-height-mobile-portrait;
}
span.item-text {
	align-items: center;
	display: flex;
	:first-child {
		display: flex;
	}
}
mat-icon {
	align-self: center;
	padding-right: 8px;
	&.filter-accent-icon {
		color: $accent-dark-color;
	}
}

filter-tag-select {
	@include makeHiddenSmallAndDown();
}
.hide-on-mobile {
	@include makeHiddenSmall();
}

button.clear-button {
	min-width: auto;
	mat-icon {
		color: $primary-light-color;
	}
}
