<form [formGroup]="form" class="form">

	<div class="header-bar" [class.feature]="dtoBeforeUpdate?.type == 'feature'" [class.bug]="dtoBeforeUpdate?.type == 'bug'"
		[class.user-story]="dtoBeforeUpdate?.type == 'userStory'" [class.task]="dtoBeforeUpdate?.type == 'task'">
		<div *ngIf="!!dtoBeforeUpdate">
			<backlog-item-icon [type]="dtoBeforeUpdate.type"></backlog-item-icon>
			{{typeTitle}}
		</div>
		<div class="flex-row">
			<mat-form-field>
				<input type="text" matInput formControlName="title">
				<mat-placeholder>Title
					<sup class="color-warn">*</sup>
				</mat-placeholder>
				<mat-error>
					<error-messages formControlName="title"></error-messages>
				</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-row">
		<mat-form-field>
			<input type="text" matInput formControlName="assigneeId">
			<mat-placeholder>Assignee</mat-placeholder>
			<mat-error>
				<error-messages formControlName="assigneeId"></error-messages>
			</mat-error>
		</mat-form-field>
	</div>

	<div class="flex-row">
		<mat-form-field>
			<input type="email" matInput formControlName="tags">
			<mat-placeholder>Tags</mat-placeholder>
			<mat-error>
				<error-messages formControlName="tags"></error-messages>
			</mat-error>
		</mat-form-field>
	</div>
	<div class="stretch">
		<button mat-stroked-button color="warn" (click)="delete()" *ngIf="!!editId">Delete</button>
		<div *ngIf="!editId"></div>
		<button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
	</div>
</form>
&nbsp;
