<form [formGroup]="form" class="form">

	<div class="header-bar" [class.feature]="dtoBeforeUpdate?.type == 'feature'" [class.bug]="dtoBeforeUpdate?.type == 'bug'"
		[class.user-story]="dtoBeforeUpdate?.type == 'userStory'" [class.task]="dtoBeforeUpdate?.type == 'task'">
		<div *ngIf="!!dtoBeforeUpdate" class="monospace">
			<backlog-item-icon [type]="dtoBeforeUpdate.type"></backlog-item-icon>
			<span>{{typeTitle | uppercase}}</span>
		</div>
		<div class="flex-row title">
			<mat-form-field>
				<input type="text" matInput formControlName="title">
				<mat-placeholder>Title
					<sup class="color-warn">*</sup>
				</mat-placeholder>
				<mat-error>
					<error-messages formControlName="title"></error-messages>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="title-secondary-block monospace">
			<div class="table narrow">
				<div class="row">
					<div class="label">Assignee:</div>
					<div class="control">
						<filter-single-select label="Not assigned" buttonAltText="Assigned to" formControlName="assigneeId"
							[narrowUnderscored]="true" [search]="searchByAssignee"></filter-single-select>
					</div>
				</div>
				<div class="row">
					<div class="label">State:</div>
					<div class="control">
						<filter-single-select label="State" buttonAltText="State" [options]="states" formControlName="state"
							[narrowUnderscored]="true" [hideClearButton]="true">
							<ng-template let-state>
								<backlog-item-state [state]="state"></backlog-item-state>
							</ng-template>
						</filter-single-select>
					</div>
				</div>
			</div>
			<div class="table wide">
				<div class="row">
					<div class="control">
						<app-tags formControlName="tags"></app-tags>
					</div>
				</div>
				<div class="row">
					<div class="label">
						<backlog-comments-icon [count]="dtoBeforeUpdate?.comments?.totalRecords"></backlog-comments-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-container">
		<div class="wide">
			<div *ngIf="type == 'bug'">
				<div class="section-header">Steps to reproduce</div>
				<mat-form-field class="full-width side-offset">
					<textarea matInput formControlName="stepsToReproduce" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
						[cdkAutosizeMinRows]="5"></textarea>
				</mat-form-field>
			</div>
			<div *ngIf="type == 'userStory'">
				<div class="section-header">Acceptance Criteria</div>
				<mat-form-field class="full-width side-offset">
					<textarea matInput formControlName="acceptanceCriteria" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
						[cdkAutosizeMinRows]="5"></textarea>
				</mat-form-field>
			</div>
		</div>
		<div class="narrow">
			<div class="section-header">Planning</div>
			<div class="side-offset">
				<mat-form-field class="full-width">
					<input matInput placeholder="Estimated size" formControlName="estimatedSize">
				</mat-form-field>
				<div class="table monospace">
					<div class="row" *ngIf="type == 'bug'">
						<div class="label">Priority:</div>
						<div class="control">
							<filter-single-select label=" ----- " buttonAltText="Priority" [options]="bugPriorities"
								formControlName="priority" [narrowUnderscored]="true" [hideClearButton]="false" class="full-width">
							</filter-single-select>
						</div>
					</div>
					<div class="row" *ngIf="type == 'bug'">
						<div class="label">Severity:</div>
						<div class="control">
							<filter-single-select label=" ----- " buttonAltText="Severity" [options]="bugSeverities"
								formControlName="severity" [narrowUnderscored]="true" [hideClearButton]="false" class="full-width">
							</filter-single-select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-container">
		<div class="wide">
			<div class="section-header">Comments</div>
			<div *ngFor="let comment of dtoBeforeUpdate?.comments" class="comment-section">
				<backlog-item-comment [value]="comment"></backlog-item-comment>
			</div>
		</div>
		<div class="narrow">
			<div class="section-header">Related</div>
			<div>....</div>

			<div class="section-header">History</div>
			<div>....</div>
		</div>
	</div>


	<div class="stretch">
		<button mat-stroked-button color="warn" (click)="delete()" *ngIf="!!editId">Delete</button>
		<div *ngIf="!editId"></div>
		<button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">SAVE</button>
	</div>
</form>
&nbsp;
